<extend name="Public/base" />
<block name="body">
  <div class="page-header">
    <div class="page-title">
      <h3>{$meta_title}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="widget box">
        <div class="widget-content no-padding">
         <div class="row">
            <div class="dataTables_header clearfix">
				<div class="col-md-6">
					<a class="btn btn-primary" href="{:U('add')}">添加设备</a>
					<a class="btn ajax-post confirm" url="{:U('delete')}" target-form="ids">删 除</a>
				</div>
              <div class="col-md-6 dataTables_filter">
                  <label>
                  <div class="input-group search-form"> <span class="input-group-addon"><a id="search" href="javascript:;" id="search" url="{:U('index')}"><i class="icon-search"></i></a></span>
                    <input type="text" class="form-control search-input" placeholder="请输入MAC或SN" name="sn" value="{:I('sn')}">
                  </div>
                  </label>
              </div>
            </div>
         </div>
		<table class="table table-striped table-bordered table-hover table-checkable align-center">
            <thead>
              <tr>
						<th class="checkbox-column text-center"> <input type="checkbox" class="uniform"></th>
                        <th class="text-center">ID</th>
                        <th class="text-center"><i class="icon-rocket"></i> 设备名</th>
                        <th class="text-center"><i class="icon-th-large"></i> 设备信息</th>
                        <th class="text-center"><i class="icon-cloud"></i> 云认证</th>
                        <th class="text-center"><i class="icon-retweet"></i> 运行状态</th>
                        <th class="text-center"><i class="icon-random"></i> 接入概况</th>
                        <th class="text-center"><i class="icon-group"></i> 从属关系</th>
                        <th class="text-center"><i class="icon-cog"></i> 操作</th>
                    </tr>
                </thead>
                <tbody>
				<notempty name="_list">
                <volist name="_list" id="vo">
           <tr>
				<td class="checkbox-column"><input type="checkbox" class="uniform ids" name="id[]" value="{$vo.id}" /></td>
                <td>{$vo.id}</td>
                <td>路由器</td>
                <td class="text-left">
				  MAC: {$vo.mac}</br>
				  SN: {$vo.sn}</br>
				  版本: {$vo.version}
				</td>
				<td>
				  <i class="icon-pushpin"></i> <a href="{:U('User/edit?id='.$vo['uid'])}" class="confirm-dialog">应用点</a></br>
				  <i class="icon-asterisk"></i> <a href="{:U('User/edit?id='.$vo['uid'])}" class="confirm-dialog">云认证</a>
				</td>
				<td class="text-left">
				  状态: <a style="color:blue;"><?php  if($vo['status']=='0') { echo ("掉线"); } else { echo ("在线"); } ?></a></br>
				  网关: {$vo.gw_ip}</br>
				  出口: {$vo.wan_ip}</br>
				  VPN:{$vo.vpn_cip}
				</td>
				<td class="text-left">
				  当前用户数:</br>
				  设备在线时长: <span><i class="icon-search"></i> <a href="{:U('User/edit?id='.$vo['uid'])}" class="confirm-dialog">详细</a></span></br>
				  最后上线:</td>
				<td class="text-left">
				  用户：{$vo.uid}</br>
				  代理商：{$vo.agent_id}
				</td>
				<td>
                    <i class="icon-edit"></i> <a title="编辑" href="{:U('edit?id='.$vo['id'])}">编辑</a></br>
                    <i class="icon-trash"></i>  <a class="" title="删除" href="{:U('delete?id='.$vo['id'])}">删除</a>
                </td>
                    </tr>
                </volist>
				<else/>
				<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
                </tbody>
            </table>
          <div class="row">   
            <div class="dataTables_footer clearfix"> {$_page} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>

<block name="script">
    <script type="text/javascript">
        +function($) {
            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
  
        }(jQuery);
    </script>
</block>